/* ---------------------
 *   Global Styles
 * --------------------- */

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body,
html  {
  box-sizing: border-box;
  font: 1.2rem 'Nunito', sans-serif;
}

.btn,
.jumbotron {
  border-radius: 0;
}


/* ---------------------
 *   Layout Styles
 * --------------------- */

.jumbotron {
  width: 30wh;
  height: 75vh;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url('./images/bags.jpg');
  background-size: cover;
}

.jumbotron h2 {
  margin-top: 10px;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .jumbotron h2 {
    margin-top: -20px;
  }
}


/* ---------------------
 *   Card Styles
 * --------------------- */

.product-image {
  min-height: 100px;
}

.name {
  background: #39423e;
  color: white;
  font-weight: bold;
}

.black-10 {
  color: #222;
  font-weight: bold;
}

.black-9 {
  color: #444;
  font-weight: bold;
}

.black-8 {
  color: #888;
}

/* ---------------------
 *   Card Styles
 * --------------------- */

.cart-badge,
.cart-badge:hover {
  border-radius: 45%;
  padding: 3px;
  font-size: 12px;
  font-weight: bold;
  background: #39423E;
  color: #fff;
}